Looking at Food Gardens in Pittsburgh

In [1]:
# All Required Imports
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
# Original Database. Way to many collumns that I don't need
full_trees = pd.read_csv("https://data.wprdc.org/datastore/dump/1515a93c-73e3-4425-9b35-1cd11b2196da")
# Shortened database I will be using
trees = full_trees[['common_name', 'height','condition','neighborhood','air_quality_benfits_total_dollar_value']].copy()
trees.head(10)

/opt/tljh/user/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3071: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,common_name,height,condition,neighborhood,air_quality_benfits_total_dollar_value
0,Stump,0.0,NaN,Homewood North,NaN
1,Linden: Littleleaf,0.0,NaN,Oakwood,11.457438
2,Maple: Red,22.0,Fair,South Side Flats,2.474653
3,Maple: Freeman,25.0,Fair,East Allegheny,3.865612
4,Maple: Norway,52.0,Good,Highland Park,25.638395
5,Oak: Pin,45.0,Good,Highland Park,15.696870
6,Dogwood: Corneliancherry,8.0,Good,Highland Park,0.682080
7,Maple: Norway,27.0,Good,Highland Park,8.501194
8,Maple: Norway,35.0,Good,Highland Park,12.244539
9,Maple: Norway,NaN,Poor,Stanton Heights,NaN

In [3]:
print("There are " + str(len(trees)) + " trees managed by the City of Pittsburgh")
trees.describe()

There are 45709 trees managed by the City of Pittsburgh

             height  air_quality_benfits_total_dollar_value
count  41335.000000                            40044.000000
mean      22.162235                                7.370215
std       17.568577                                7.382228
min        0.000000                                0.000000
25%        9.000000                                1.544349
50%       20.000000                                4.862005
75%       35.000000                               10.985833
max      158.000000                               42.873431

In [4]:
# BE ADVISED: This code block takes some time to run (15-30 sec)
count_dict = {}
x = 0
while x < len(trees):
    if trees.iloc[x]['neighborhood'] in count_dict.keys():
        count_dict[trees.iloc[x]['neighborhood']] =  count_dict.get(trees.iloc[x]['neighborhood']) + 1
    else:
        count_dict.update({trees.iloc[x]['neighborhood'] : 1})
    x += 1
#print(count_dict)

# Goal is to get a count of how many trees per neighborhood. 
# next step is converting to dataframe

In [5]:
#Takes dictionary from code cell above and translates into DataFrame
trees_per_neighborhood = pd.DataFrame([count_dict])
trees_per_neighborhood = trees_per_neighborhood.T
trees_per_neighborhood = trees_per_neighborhood.rename(columns = {0 : "number_of_trees"})

trees_per_neighborhood.sort_values(by = 'number_of_trees', ascending = False).head(10)

                           number_of_trees
Squirrel Hill South                   5073
Highland Park                         2941
Squirrel Hill North                   2083
South Side Flats                      1693
Shadyside                             1558
Bloomfield                            1436
East Liberty                          1366
Point Breeze                          1316
Perry North                           1007
Central Business District             1002

## Preliminary Analysis:
I was interested in the dollar value collumn in this dataset. I think its very interesting that each tree can have a physical price offseting air qualiy. 


The average height of the tree seemed reasonable at 22 ft. 
There is still a lot of maniputaion I have to do to analyze the effect per neighborhood.